iaa_sample.xlsx

._train
.bash_history
.profile
.wget-hsts

train/
pip/

code/__pycache__/
code/best_model/
code/logs/
code/prediction/
code/results/
code/.___pycache__
code/._best_model
code/._dict_label_to_num.pkl
code/._dict_num_to_label.pkl
code/._evaluation.py
code/._inference.py
code/._load_data.py
code/._logs
code/._prediction
code/._requirements.txt
code/._results
code/._train.py



